:root {
  font-family: "Open Sans", sans-serif;
}

html {
  height: 100%;
  background: url(img/landingBackground-desat.JPG) no-repeat center center fixed;
  background-size: cover;
  scroll-behavior: smooth;
}

h1,
h2,
h3 {
  font-family: "Josefin Sans", sans-serif;
}

p {
  font-family: "Open Sans", sans-serif;
}

.landingContainer {
  height: 100vh;
  width: 100vw;
}

.landingContainer .revealContainer {
  text-decoration: none;
  color: whitesmoke;
  position: absolute;
  right: 1em;
  bottom: 1em;
  font-size: 2rem;
  border-radius: 1rem;
  border: #ffffff solid 3px;
  padding: 1rem;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.landingContainer .revealContainer svg {
  top: 0.15em;
  width: 3rem;
  position: relative;
}

.landingContainer .revealContainer:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.infoContainer {
  position: absolute;
  width: 100vw;
  /* if backdrop support: very transparent and blurred */
}

@supports ((-webkit-backdrop-filter: blur(2em) brightness(80%)) or (backdrop-filter: blur(2em) brightness(80%))) {
  .infoContainer {
    -webkit-backdrop-filter: blur(2em) brightness(80%);
            backdrop-filter: blur(2em) brightness(80%);
  }
}

@supports not ((-webkit-backdrop-filter: blur(2em) brightness(80%)) or (backdrop-filter: blur(2em) brightness(80%))) {
  .infoContainer {
    background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.4))), url(img/landingBackground-desat.JPG) no-repeat center center fixed;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(img/landingBackground-desat.JPG) no-repeat center center fixed;
    background-size: cover;
  }
}

.horizontalRule {
  margin: 0;
  padding: 0;
  border: 2px solid whitesmoke;
}

body {
  color: whitesmoke;
  overflow-x: hidden;
  margin: 0;
}

.title {
  font-size: 8vw;
  margin-bottom: 1vw;
}

.subtitle {
  margin-top: 0;
  font-size: 2rem;
  font-size: 4vw;
}

.header {
  margin-top: 0.5em;
  margin-bottom: 0;
  font-size: 10rem;
}

.content {
  margin-left: 2rem;
}

.projectsContainer .projectSeeMore {
  margin: 4em;
  text-align: center;
}

.projectsContainer .projectSeeMore a {
  display: inline-block;
  font-size: 5rem;
  font-style: normal;
  text-decoration: none;
  color: whitesmoke;
  border: transparent;
  border-radius: 1rem;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 0.3em;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.projectsContainer .projectSeeMore a:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  background-color: rgba(255, 255, 255, 0.1);
}

.projectsContainer .projectsFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.projectsContainer .projectsFlex .projectBox {
  margin: 4em;
  width: 20em;
  height: 10em;
  background: rgba(0, 0, 0, 0.5);
  border: 5px solid white;
  border-radius: 20px;
  padding: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.projectsContainer .projectsFlex .projectBox .projectTitle {
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-size: 2rem;
  text-align: center;
}

.skillsContainer {
  margin-bottom: 2em;
}

.skillsContainer .skillClass {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.skillsContainer .skillItem {
  margin: 1em;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 1rem;
  border: whitesmoke solid 3px;
  border-radius: 1rem;
  max-width: 40%;
  min-width: 10em;
}

.skillsContainer .skillItem .skillName {
  font-size: 1.4rem;
}

.skillsContainer .skillItem .skillSummary {
  font-style: italic;
  color: #bdbdbd;
}
/*# sourceMappingURL=index.css.map */