@import "main.scss";

.landingPage {
    text-align: center;
    // $background-image: #ffffff;

    $blured-background-image: url(../assets/image/landingBackground-blurV2.jpg);
    h1,
    h2,
    h3 {
        font-family: "Josefin Sans", sans-serif;
    }
    p {
        font-family: "Open Sans", sans-serif;
    }

    .landingContainer {
        height: 100vh;
        width: 100vw;

        .revealContainer {
            text-decoration: none;
            color: inherit;
            position: absolute;
            right: 1em;
            bottom: 1em;
            font-size: 2rem;
            border-radius: 1rem;
            border: #ffffff solid 3px;
            padding: 1rem;
            svg {
                top: 0.15em;
                width: 3rem;
                position: relative;
            }
            transition: all 0.2s ease-in-out;
        }
        .revealContainer:hover {
            background-color: rgba(0, 0, 0, 0.5);
        }
        .centerLogo {
            margin: 0 auto;
            margin-top: 5em;
            // height:5em;
            width: 100%;
            transition: all ease 200ms;
            box-sizing: border-box;
            overflow: hidden;
        

            &:hover {
                transform: scale(1.1);
            }

            svg {
                #FallstopLogoBW-FailingLines * {
                    stroke: $text-color
                }
                #FallstopLogoBW-Text * {
                    fill: $text-color
                }
                #FallstopLogoBW-Octagon {
                    stroke: $text-color;
                    fill: $deselected-background;
                }
            }
        }
    }
    .InfoContainerBackground {
        text-align: left;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: $blured-background-image no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;

        z-index: -2;

        @supports not (backdrop-filter: blur(20px)) {
            filter: blur(20px);
        }
        &::before {
            content: "";
            position: absolute;
            z-index: -1;

            width: 100%;
            height: 100%;
            @supports (backdrop-filter: blur(20px)) {
                -webkit-backdrop-filter: blur(20px); /* apply the blur */
                backdrop-filter: blur(20px); /* apply the blur */
            }

            pointer-events: none; /* make the pseudo class click-through */
        }
    }

    .infoContainer {
        position: absolute;
        width: 100vw;
    }
    .horizontalRule {
        margin: 0;
        padding: 0;
        border: 2px solid currentColor;
    }

    .title {
        font-size: 8rem;
        margin-bottom: 1rem;
        padding-top: 0.5em;
    }
    .subtitle {
        margin-top: 0;
        font-size: 2.5rem;
    }
    .header {
        margin-top: 0.5em;
        margin-bottom: 0;
        font-size: 8rem;
    }
    .projectsContainer {
        text-align: center;
        .projectSeeMore {
            overflow: hidden;
            margin: 4em;

            a {
                display: inline-block;

                font-size: 5rem;
                border: transparent;
                border-radius: 1rem;
                background-color: $deselected-background;
                padding: 0.3em;
                transition: all 0.2s ease-in-out;
            }
            a:hover {
                transform: scale(1.1);
                background-color: $selected-background;
            }
        }
        .projectsFlex {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            .projectBox {
                margin: 2em;
                width: 20em;
                height: 10em;
                background: $deselected-background;
                border: 5px solid white;
                border-radius: 20px;
                padding: 2rem;
                overflow: hidden;

                display: flex;
                justify-content: center;
                align-items: center;

                transition: all 0.2s ease-in-out;

                .projectTitle {
                    text-transform: uppercase;
                    letter-spacing: 0.2em;
                    font-size: 2.5rem;
                }
                &:hover {
                    transform: scale(1.1);
                    background-color: $selected-background;
                }
            }
        }
    }
    .aboutMe {
        $header-size: 2.5em;
        $subheader-size: 2rem;
        margin: 1em auto;
        max-width: 75%;
        .aboutInfoContainer {
            background-color: $deselected-background;
            padding: 2em 4em;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: 1fr;
            grid-column-gap: 1em;
            grid-row-gap: 0px;
            text-align: left;
            .aboutPersonalInformation {
                .aboutPersonalHeader {
                    font-size: $header-size;
                    margin-bottom: 0.5em;
                }
                .aboutPersonalSubheader {
                    margin-bottom: 0.5em;
                    font-weight: bold;
                }
            }
            .aboutQuickView {
                border-right: $text-color solid 3px;

                .aboutName {
                    font-size: $header-size;
                }
                .aboutUsername {
                    font-size: $subheader-size;
                }
                
            }
            .aboutLinks {
                a {
                    .aboutLinkItem {
                        margin: 1em;
                        background-color: $deselected-background;
                        border-radius: 1rem;
                        border: $text-color solid 3px;
                        transition: all 0.2s ease-in-out;

                        padding: 1rem;
                        .aboutLinkName {
                            font-size: 1.4rem;
                            margin-right: 1rem;
                            .aboutLinkNameSubtext {
                                color: $secondary-text-color;
                            }
                        }
                        .aboutLinkIcon {
                            float: right;
                            color: $text-color !important;
                            fill: $text-color !important;
                            svg {
                                position: relative;
                                top: 0.3em;
                            }
                        }
                        &:hover {
                            transform: scale(1.01);
                            background-color: $selected-background;
                        }
                    }
                    
                }
            }
        }

        .centerAlign {
            display: flex;
            flex-wrap: wrap;

            width: 100%;
            justify-content: center;
            flex-direction: row;
        }
        .leftAlign {
            display: flex;
        }
    }
}

@media (max-width: 700px) {
    .landingPage {
        .content {
            margin-left: 0;
        }
        .title {
            font-size: 15vw;
            margin: 0 0;
            padding-top: 0.5em;
        }
        .subtitle {
            font-size: 2.5rem;
        }
        .header {
            margin-top: 0.5em;
            margin-bottom: 0;
            font-size: 5rem !important;
        }
        .projectsContainer {
            .projectsFlex .projectBox {
                margin: 1em;
                width: 14em;
                height: 6em;
                .projectTitle {
                    letter-spacing: 0.1em;
                    font-size: 2rem;
                }
            }
            .projectSeeMore {
                a {
                    font-size: 4rem;
                    padding: 0.3em;
                }
                margin: 2em;
            }
        }
    }
    .landingPage {
        .aboutMe {
            margin: 1em auto;
        }
    }
}

@media (min-width: 1000px) {
    .landingPage {
        .aboutMe {
            max-width: 70%;
        }
    }
}
