$text-color: rgb(245, 245, 245);
$greyed-text-color: rgb(206, 206, 206);
$link-color: #2686e0;
$secondary-text-color: rgb(209, 209, 209);
$deselected-background: rgba(0, 0, 0, 0.5);
$selected-background: rgba(255, 255, 255, 0.1);

@import "~@fontsource/open-sans/index.css";
@import "~@fontsource/josefin-sans/index.css";

// @import "~@fontsource/open-sans/scss/mixins";

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    overflow-x: hidden;
}
a {
    color: $text-color;
    text-decoration: none; /* no underline */
}

:root {
    font-family: "Open Sans", sans-serif;
    scroll-behavior: smooth;
}

html {
    height: 100%;
    max-width: 100%;
    overflow-x: hidden !important;
    /*
 *  STYLE 2
 */

 &::-webkit-scrollbar-track
 {
     -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
     border-radius: 10px;
     background-color: #464646;
 }
 
 &::-webkit-scrollbar
 {
     width: 12px;
     background-color: #464646;
 }
 
 &::-webkit-scrollbar-thumb
 {
     border-radius: 10px;
     -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
     background-color: rgb(206, 206, 206);
 }
}

body {
    color: $text-color;
    
    margin: 0;
}

.tooltip {
    .tooltiptext {
        transition: all 0.2s ease-in-out;
        opacity: 0;
        background-color: rgba($color: #000000, $alpha: 0.8);
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 5px 10px;
    
        /* Position the tooltip */
        position: absolute;
        z-index: 1;
        top: -50%;
        // bottom: 100%;
        // left: 50%;
        // margin-left: -60px; /* Use half of the width (120/2 = 60), to center the tooltip */
    }
    &:hover .tooltiptext {
        transition: all 0.2s ease-in-out;
        opacity: 1;
    }
}