@import "main.scss";

.markdownStyling {
    color: $text-color;
    h1 {
        font-size: 4rem;
        font-family: "Josefin Sans", sans-serif;
        padding-top: 0.5rem;
        text-decoration: underline $secondary-text-color 3px;
        text-underline-offset: 5px;
    }
    h2 {
        font-size: 3rem;
    }
    h3 {
        font-size: 2rem;
        font-weight: bold;
    }
    h4 {
        font-size: 1.5rem;
        font-weight: bold;
    }
    a {
        color: $link-color;
    }
    p {
        margin-bottom: 2rem;
    }
    ul {
        // list-style: disc outside none;
        padding-left: 40px;

        li {
            display: list-item;
            list-style: disc;
            overflow-x: initial;
        }
    }
    deckgo-highlight-code {
        background-color: $deselected-background;
        margin: 2em 0;
    }
    blockquote > * {
        margin-left: 1em;
        border-left: solid grey;
        padding-left: 1rem;
        box-sizing: content-box;
        -webkit-box-sizing: content-box;
    }
}
