@import "main.scss";
@import "markdown.scss";

.projectPage {
    .projectTitle {
        margin-bottom: 1.5em;
        padding: 1em;
        h1 {
            font-family: "Josefin Sans", sans-serif;
            font-size: 6rem;
            padding-top: 0.5rem;
            border-bottom: solid 3px $greyed-text-color;
        }
        .summary {
            margin-top: 0.5em;
            color: $greyed-text-color;
            font-style: italic;
        }


    }

}
