@import "main.scss";

.projectPage {
    .projectTitle {
        margin-bottom: 1.5em;
        h1 {
            font-family: "Josefin Sans", sans-serif;
            font-size: 4rem;
        }
        h2 {
            color: #9b9b9b;
            
        }

    }
}
