@import "main.scss";

.toolPage {
    text-align: center;
    .subtitle {
        margin: 1em 0;
        font-size: 4rem;
        
    }
    .header {
        font-size: 6rem;
    }

    .toolsContainer {
        margin-bottom: 2em;

        .toolClass {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: center;
            .toolItem {
                margin: 1em;
                background-color: rgba(0, 0, 0, 0.6);
                padding: 1rem;
                border: rgb(245, 245, 245) solid 3px;
                border-radius: 1rem;
                max-width: 40%;
                min-width: 10em;
                .toolName {
                    font-size: 1.4rem;
                }
                .toolSummary {
                    font-style: italic;
                    color: rgb(189, 189, 189);
                }
            }
        }

        
    }
}

@media (max-width: 767px) {
    .toolPage {
        margin:0;
        text-align: center;
        .subtitle {
            font-size: 2.5rem;
            text-align: center;
        }
        .header {
            margin-top: 0.5em;
            margin-bottom: 0;
            font-size: 4em;
        }
        .toolsContainer {
            .toolClass {
                .toolItem {
                    max-width: 95vw;
                    .toolSummary {
                        font-size: 1.5rem;
                    }
                    .toolName {
                        font-size: 2rem;;
                    }
                }
            }
        }
    }
}